PORT=3000
AUTHENTIK_ISSUER_URL=https://your-authentik-instance/application/o/nodejs-sso-sample/
AUTHENTIK_CLIENT_ID=your-client-id
AUTHENTIK_CLIENT_SECRET=your-client-secret
SESSION_SECRET=your-session-secret-key
